.yellow {
  background-color: yellow;
}

.card {
  margin-bottom: 20px;
  padding 5%;
}

nav.tabs a {
    display: inline-block;
    background: rgba(255,255,255,0.7);
    color: black;
    padding: 10px 20px;
    margin-right: 1px;
}

/* whaaaaaaat. check out the final helper of the readme! */
nav.tabs a.active { background: rgba(255,255,255,1);}
