<div class="row text-center">
  <h1>Reminders:</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-offset-3" ng-repeat="reminder in mainCtrl.incomplete">
    <form class="inline" ng-submit="mainCtrl.updateReminder(reminder, $index)">
        <label class="sr-only" for="new">New Title:</label>
        <input ng-model="reminder.title" type="text" name="title" value="{{reminder.title}}">
        <label class="sr-only" for="new">Description:</label>
        <input ng-model="reminder.body" type="text" name="body" value="{{reminder.body}}">
        <button class="btn btn-primary btn-xs" type="submit" name="button">Edit</button>
        <button class="btn btn-danger btn-xs" ng-click="mainCtrl.deleteReminder(reminder)" type="button" name="delete">Delete</button>
        <input ng-click="mainCtrl.updateReminder(reminder, $index)" ng-model="reminder.done" type="checkbox" value="{{reminder.done}}">
        <label for="done">Completed</label>
      <div class="col-xs-12">

      </div>
    </form>
  </div>
</div>
